<div class="modal-header">
    <h3>{{title}}</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal form-validation" name="editForm" novalidate>
        <fieldset>
            <div class="form-group">
                <label for="editEmail">Email</label>
                <div class="input-group input-group-first">
                    <span class="input-group-addon">
                        <span class="ti-email"></span>
                    </span>
                    <input type="email" id="editEmail"
                           class="form-control"
                           placeholder="example@gmail.com"
                           data-ng-model="trainer.email"
                           required>
                </div>
            </div>
            <div class="form-group" data-ng-if="newTrainer">
                <label for="editPassword">Password</label>
                <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="ti-lock"></span>
                                </span>
                    <input type="text" id="editPassword"
                           class="form-control"
                           placeholder="Password"
                           ng-model="trainer.$password"
                           required
                    >
                </div>
            </div>
            <div class="form-group">
                <label>Name</label>
                <input type="text"
                       class="form-control"
                       placeholder="First Name"
                       data-ng-model="trainer.firstName"
                       required>
                <br/>
                <input type="text"
                       id="lastNameInput"
                       class="form-control"
                       placeholder="Last Name"
                       data-ng-model="trainer.lastName"
                       required>
            </div>
            <div class="row">
                <div class="col-xs-2" data-ng-if="trainer.photo.reference !== ''">
                    <img src="{{trainer.photo.url}}" alt="" class="img-circle img64_64"></div>
                <div class="col-xs-10">
                    <div class="form-group">
                        <input type="file" title="Choose Trainer Photo" data-ui-file-upload class="btn-info mb-5"
                               accept="image/*" onchange="angular.element(this).scope().trainerPhotoSelect(this)"><br/>
                        <button class="btn btn-danger" data-ng-click="photoDelete()" data-ng-show="trainer.photo.reference !== ''">Delete Photo</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-2 col-xs-2">
                        <label for="activeCB">Active?</label><br/>
                        <label class="ui-switch ui-switch-success ui-switch-lg"><input type="checkbox" id="activeCB" data-ng-model="trainer.active"><i></i></label>
                    </div>
                    <div class="col-lg-1 col-xs-1"></div>
                    <div class="col-lg-2 col-xs-2">
                        <label for="adminCB">Admin?</label><br/>
                        <label class="ui-switch ui-switch-success ui-switch-lg"><input type="checkbox" id="adminCB" data-ng-model="trainer.roles.admin"><i></i></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <div class="pull-left" data-ng-if="!newTrainer">
        <span>Created: {{trainer.created.timestamp | amCalendar}}</span><br/>
        <span>Modified: {{trainer.modified.timestamp | amCalendar}}</span>
    </div>
    <button class="btn btn-primary" data-ng-click="save()" type="submit" data-ng-disabled="!editForm.$valid">Save</button>
    <button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
</div>
